$black: #000000;
$white: #ffffff;
$purple: #5E35B1;
$grey: #999999;

* {
	box-sizing: border-box;
}
html, body {
	height: 100%;
}
body {
	font-family: 'Roboto', sans-serif;
}

.sidebar {
	background: $white;
	border: 1px solid $purple;
	box-shadow: 0 0 30px -8px $black;
	color: $purple;
	position: fixed;
	top: 30px;
	left: 30px;
	float: left;
	overflow: auto;
	width: 300px;
	max-height: 90%;
	z-index: 1;

	.title {
		background: $purple;
		color: $white;
		text-align: center;
		padding: 10px;
		
		h1 {
			font-family: 'Baumans', cursive;
			font-size: 40px;
			line-height: 46px;
			margin: 0;
			text-transform: lowercase;
		}
		
		p {
    		font-size: 12px;
			margin: 0;
		}
	}

	.options {
		margin: 0;
		padding: 0;

		li {
		    border-bottom: 1px solid transparentize($purple, 0.7);
		    font-size: 18px;
		    list-style: none;
		    padding: 10px;

		    &:last-child {
		    	border-bottom: 1px solid transparentize($grey, 0.7);
		    }

		    i {
		    	float: right;
		    	font-size: 12px;
	    	    position: relative;
    			top: 4px;
		    }
		}
	}

	.get-results {
		background: $purple;
		border: none;
		color: $white;
		padding: 10px;
		width: 100%;
		outline: none;
	}
}

.overlay {
	background: rgba(0,0,0,0.4);
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}
.result {
    background: $white;
    box-shadow: 0 0 30px -8px $black;
    color: $black;
    padding: 30px;
	position: fixed;
	top: 30px;
	right: 30px;
	width: 800px;
    text-align: center;
}

form {
	padding: 10px;

	input[type="text"] {
	    border: none;
		color: $purple;
		font-family: 'Roboto', sans-serif;
		font-size: 14px;
		outline: none;
		padding: 8px 0;
		border-radius: 0;
	}

	button[type="submit"] {
		background: $purple;
		border: none;
		color: $white;
		float: right;
		padding: 6px 12px;
		outline: none;
	}
}


.loading,
.loading::before,
.loading::after {
	position: absolute;
	top: 50%;
	left: 50%;
	border: 3px solid transparent;
	border-left-color: $purple;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
}

.loading {
	margin: -21px 0 0 -21px;
	height: 46px;
	width: 46px;
	-webkit-animation: animation-rotate 1000ms linear infinite;
	-moz-animation: animation-rotate 1000ms linear infinite;
	-o-animation: animation-rotate 1000ms linear infinite;
	animation: animation-rotate 1000ms linear infinite;
}

.loading::before {
	content: "";
	margin: -27px 0 0 -27px;
	height: 48px;
	width: 48px;
	-webkit-animation: animation-rotate 1000ms linear infinite;
	-moz-animation: animation-rotate 1000ms linear infinite;
	-o-animation: animation-rotate 1000ms linear infinite;
	animation: animation-rotate 1000ms linear infinite;
}

.loading::after {
	content: "";
	margin: -31px 0 0 -31px;
	height: 56px;
	width: 56px;
	-webkit-animation: animation-rotate 2000ms linear infinite;
	-moz-animation: animation-rotate 2000ms linear infinite;
	-o-animation: animation-rotate 2000ms linear infinite;
	animation: animation-rotate 2000ms linear infinite;
}

@-webkit-keyframes animation-rotate {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes animation-rotate {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-o-keyframes animation-rotate {
  100% {
    -o-transform: rotate(360deg);
  }
}

@keyframes animation-rotate {
  100% {
    transform: rotate(360deg);
  }
}