@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Baumans");

article,aside,details,figcaption,figure,footer,header,hgroup,hr,menu,nav,section{display:block}a,hr{padding:0}abbr,address,article,aside,audio,b,blockquote,body,canvas,caption,cite,code,dd,del,details,dfn,div,dl,dt,em,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,p,pre,q,samp,section,small,span,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,ul,var,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:0 0}ins,mark{background-color:#ff9;color:#000}body{line-height:1}nav ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}a{margin:0;font-size:100%;vertical-align:baseline;background:0 0}ins{text-decoration:none}mark{font-style:italic;font-weight:700}del{text-decoration:line-through}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}table{border-collapse:collapse;border-spacing:0}hr{height:1px;border:0;border-top:1px solid #ccc;margin:1em 0}input,select{vertical-align:middle}


* {
	box-sizing: border-box;
}

html, body {
	height: 100%;
}
body {
	font-family: 'Roboto', sans-serif;
}

h1 {
	font-family: 'Baumans', cursive;
	font-size: 40px;
	line-height: 46px;
	margin-bottom: 6px;
	text-transform: lowercase;
}
h2 {
	text-transform: lowercase;
	margin-bottom: 14px;
}

.sidebar {
	background: rgba(0,0,0,0.8);
	color: #ffffff;
	height: 100%;
	padding: 20px;
	float: left;
	min-width: 250px;
	overflow: auto;
	width: 20%;
}

.options {
	margin-top: 10px;
}
.options li {
	list-style: none;
	margin: 0 0 8px;
}

input[type="text"] {
	border: none;
	color: #5E35B1;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	padding: 8px;
}

.loading,
.loading::before,
.loading::after {
	position: absolute;
	top: 50%;
	left: 50%;
	border: 3px solid transparent;
	border-left-color: #5E35B1;
	-webkit-border-radius: 999px;
	-moz-border-radius: 999px;
	border-radius: 999px;
}

.loading {
	margin: -21px 0 0 -21px;
	height: 46px;
	width: 46px;
	-webkit-animation: animation-rotate 1000ms linear infinite;
	-moz-animation: animation-rotate 1000ms linear infinite;
	-o-animation: animation-rotate 1000ms linear infinite;
	animation: animation-rotate 1000ms linear infinite;
}

.loading::before {
	content: "";
	margin: -27px 0 0 -27px;
	height: 48px;
	width: 48px;
	-webkit-animation: animation-rotate 1000ms linear infinite;
	-moz-animation: animation-rotate 1000ms linear infinite;
	-o-animation: animation-rotate 1000ms linear infinite;
	animation: animation-rotate 1000ms linear infinite;
}

.loading::after {
	content: "";
	margin: -31px 0 0 -31px;
	height: 56px;
	width: 56px;
	-webkit-animation: animation-rotate 2000ms linear infinite;
	-moz-animation: animation-rotate 2000ms linear infinite;
	-o-animation: animation-rotate 2000ms linear infinite;
	animation: animation-rotate 2000ms linear infinite;
}

@-webkit-keyframes animation-rotate {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes animation-rotate {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-o-keyframes animation-rotate {
  100% {
    -o-transform: rotate(360deg);
  }
}

@keyframes animation-rotate {
  100% {
    transform: rotate(360deg);
  }
}